footer {
    text-align: center;
    background: #4CAF50;
    color: #fff;
    height: 100px;
    width: 100%;
    padding-top: 0.5em;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: relative;
}
footer a {
    color: #fff;
}

footer div {
    float: left;
    margin-left: 5%;
}
footer ul li, .cop {
    padding: 0.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
footer ul li a:hover {
    text-decoration: underline;
}
.copy {
    margin-top: 2.5%;
    margin-left: 10%;
}
.abt {
    margin-left: 15%;
}
.dev_contact {
    margin-right: 10%;
    float: right;
}